.header {
    border-bottom: 7px solid red;
    display: flex;
    height: 200px;
}

.headertitle {
    margin-top: 70px;
    color: red;
    font-size: 50px;
}

.loginbox {
    border-bottom: 7px solid red;
    height: 550px;
}

footer {
    text-align: center;
    font-size: 25px;
    font-style: italic;
}