.header {
  border-bottom: 7px solid red;
  display: flex;
  height: 200px;
}

.headertitle {
  margin-top: 70px;
  color: red;
  font-size: 50px;
}

.loginbox {
  border-bottom: 7px solid red;
  height: 550px;
}

footer {
  text-align: center;
  font-size: 25px;
  font-style: italic;
}

form {
  display: flex;
}

.emailbox {
  margin-left: 20px;
  margin-right: 20px;
}

.passwordbox {
  margin-right: 20px;
}

.notifications {
  padding: 30px;
  outline: rgb(255, 0, 0) solid 5px;
}

li[data-priority="default"] {
  color: blue;
}

li[data-priority="urgent"] {
  color: red;
}