.notifications {
    padding: 30px;
    outline: rgb(255, 170, 170) solid 5px;
}

.notification-default {
    /* Styles for default notifications */
  }
  
  .notification-urgent {
    /* Styles for urgent notifications */
    color: red;
  }
  
  .displayDrawer {
    padding: 25px;
    width: 25%;
    outline: rgb(255, 180, 180) solid 3px;
    float: right;
  }